In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("./test_data.csv", engine="python", encoding="utf_8_sig")
df

          id                                            content
0          0  剑与远征中的迷宫遗物是一些非常不错的装备，不过其中的迷宫遗物是有着非常的多的，不少小伙伴都不...
1          1  纽约尼克斯队近50年来没有赢得NBA总冠军。尽管在接下来的几年里有一大批所谓的救世主，但他们...
2          2  2020年初，一场疫情席卷而来，疫情期间长时间的宅家生活，让人们对家有了更深刻的理解。如今，...
3          3  2020年7月26日上午，在第三届进博会倒计时100天之际，第三届进博会参展商联盟第一次会议...
4          4  在剑与远征这款游戏中，玩家们可以在前期刷英雄，就是俗称的刷初始，不过很多玩家都是选择不氪金玩...
...      ...                                                ...
19995  19995  起中国，美国自由自主的大学生活着实让我们羡慕万分。但你知道吗？美国的的大学生并不仅仅把大学当...
19996  19996  2020年的春天，全国人民都“宅”在家中等待疫情缓解，这几周时间A股尤其是创业板的强势走势很...
19997  19997  马来西亚国羽男女队在今年10月3至11日丹麦奥胡斯汤尤杯决赛圈中订下的目标分别是4强和8强，...
19998  19998  ­　　昨天上午，中央戏剧学院2017年艺术生考试拉开帷幕。表演专业的考生在校内的黑匣子剧场候...
19999  19999  剑与远征中有着非常多的角色，我们要保证一个阵容上的平衡所以需要各种角色，比如输出还有控制类型...

[20000 rows x 2 columns]

In [ ]:
import re
def filter(text):
    text = re.sub("[A-Za-z0-9\!\=\？\%\[\]\,\（\）\>\<:&lt;\/#\. -----\_]", "", text)
    text = text.replace('图片', '')
    text = text.replace('\xa0', '') # 删除nbsp
    # new
    r1 =  "\\【.*?】+|\\《.*?》+|\\#.*?#+|[.!/_,$&%^*()<>+""'?@|;；：　　:~{}#]+|[——！\\\，。=？、：“”‘’￥……（）《》【】]"
    cleanr = re.compile('<.*?>')
    text = re.sub(cleanr, ' ', text)        #去除html标签
    text = re.sub(r1,'',text)
    text = text.strip()
    return text

In [ ]:
def clean_text(data):
    data['content'] = data['content'].apply(lambda x: filter(x))
    return data

In [ ]:
df = clean_text(df)